<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.web>
        <httpRuntime enableVersionHeader="false" maxRequestLength="50000" executionTimeout="300" /> 
    </system.web>

    <system.webServer>
	
	<staticContent>
        <mimeMap fileExtension="." mimeType="text/xml" />
    </staticContent>

    <httpProtocol>
        <customHeaders>        

        <!-- Protects against Clickjacking attacks. ref.: https://www.owasp.org/index.php/HTTP_Strict_Transport_Security_Cheat_Sheet  -->
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        
        <!-- Protects against XSS injections. ref.: https://www.veracode.com/blog/2014/03/guidelines-for-setting-security-headers/ -->
        <add name="X-XSS-Protection" value="1; mode=block" />

        <!-- Prevents from leaking referrer data over insecure connections. ref.: https://scotthelme.co.uk/a-new-security-header-referrer-policy/-->
        <add name="Referrer-Policy" value="strict-origin" />
        
        <remove name="X-Powered-By" />

        </customHeaders>

    </httpProtocol>

        <security>
        <requestFiltering removeServerHeader="true">
            <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
        </security>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.cfm" />
                <add value="index.html" />
                <add value="index.htm" />           
            </files>
        </defaultDocument>

        <rewrite>

            <rules>                
                
                <clear />                                            

                <!-- Allow calls to the well-known folder for SSL domain verification -->
				<rule name="Redirect to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
                        <add input="{REQUEST_URI}" pattern="^\/\.well-known\/(.*)" negate="true" />
                        <add input="{REMOTE_ADDR}" pattern="127.0.0.1" negate="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" appendQueryString="true" />
				</rule> 


				<!-- Look for any pages being called directly -->
                <rule name="AssetRequest2" stopProcessing="true">
                    <match url="\.(gif|jpe?g|png|js|css|ico|txt|xml|woff|woff2|tif|tiff|ttf|map|vue)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
                    <action type="Rewrite" url="{REQUEST_URI}" logRewrittenUrl="true" appendQueryString="true" />
                </rule>	 



           		<!-- Trailing Slash -->
				<rule name="AddTrailingSlash" stopProcessing="true">
					<match url="(.*[^/])$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^\/\.well-known\/(.*)" negate="true" />
                        <add input="{QUERY_STRING}" pattern="(.+)" negate="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="{REQUEST_URI}/" appendQueryString="true" />
				</rule>

            </rules>
        </rewrite>
		
        <httpErrors errorMode="Custom" existingResponse="PassThrough">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/static/sbadmin/404.cfm" responseMode="ExecuteURL" />
        </httpErrors>
		

    </system.webServer>

</configuration>
